{% extends 'base.html.twig' %}

{% block title %}CloneInsta{% endblock %}
{% block stylesheets %}<link href="{{ asset('styles/css/home.css') }}" rel="stylesheet"/>{% endblock %}

{% block body %}
<div class="wrap" id="home_container">
    <div id="actu_container">
        {% if posts is empty %}
        <article id="post_actu">
                <div class="post_header">
                    <p>CloneInsta</p>
                </div>
                <div id="post_description">
                    <p>Il n'y a aucun post à afficher pour le moment ...</p>
                </div>
            </article>
        {% endif %}


        {% for post in posts %}
            <article id="post_actu">
                <div class="post_header">
                    <div class="left_header">
                        {% if post.user.profilePicture is empty %}
                            <img class="profil_user" src="/img/default_user.png" alt="photo de profil">
                        {% else %}
                            <img class="profil_user" src="{{ asset('/uploads/' ~ post.user.profilePicture ) | imagine_filter('minProfilePicture') }}" alt="Photo de profil">
                        {% endif %}
                            <div class="post_info">
                            <h3>{{ post.user.pseudo }}</h3>
                            <p>{{ post.postsPlace }}</p>
                        </div>
                    </div>

                    <div class="right_header">
                        <a href=""><i class="fa-solid fa-ellipsis"></i></a>
                    </div>
                </div>

                <div id="post_picture">
                    <img class="profil_user" src="{{ asset('/uploads/' ~ post.postsPicture ) | imagine_filter('actuPicture') }}" alt="photo du post">
                </div>

                <div id="post_description">
                    <p><a href="">{{ post.user.pseudo }}</a> {{ post.postsDescribe }}</p>
                </div>
            </article>
        {% endfor %}
    </div>

    <div id="footer_container">
        {% if user is empty%}
            <p>&copy; 2022 INSTACLONE par Pinto Sanhudo Jody</p>
        {% else %}
            <div class="footer_profile">
                <div class="footer_profile_items">
                {% if user.profilePicture is empty %}
                    <img class="profil_user" src="/img/default_user.png" alt="photo de profil">
                {% else %}
                    <img class="footer_profil_user" src="{{ asset('/uploads/' ~ user.profilePicture ) | imagine_filter('minProfilePicture') }}" alt="Photo de profil">
                {% endif %}
                    <div class="footer_profile_info">
                        <h4>{{ user.pseudo }}</h4>
                        <p>{{ user.surname }} {{ user.name }}</p>
                    </div>
                </div>
                
                <div>
                    <a href="{{ path('app_profile') }}">Profil</a>
                </div>
            </div>
            <p>&copy; 2022 INSTACLONE par Pinto Sanhudo Jody</p>
        {% endif %}
    </div>
</div>
{% endblock %}
