{% extends 'base.html.twig' %}

{% block title %}Dashboard Posts{% endblock %}

{% block body %}
    <h1>Tout les posts :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Posts_picture</th>
                <th>Posts_place</th>
                <th>Posts_describe</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.postsPlace }}</td>
                <td>{{ post.postsDescribe }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_posts_show', {'id': post.id}) }}">Voir</a>
                    <a href="{{ path('app_posts_edit', {'id': post.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun post à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
