{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}<link href="{{ asset('styles/css/profile.css') }}" rel="stylesheet"/>{% endblock %}

{% block body %}

    <div id="profile_container" class="wrap_nav">
        <div id="header_profil">
            <div class="user_profile_picture">
                {% if user.profilePicture is empty %}
                    <img class="profil_user" src="/img/default_user.png" alt="photo de profil">
                {% else %}
                    <img src="{{ asset('/uploads/' ~ user.profilePicture ) | imagine_filter('minProfilePicture') }}" alt="Photo de profil">
                {% endif %}
            </div>

            <div class="user_info_container">
                <div class="edit_container">
                    <p class="pseudo">{{ user.pseudo }}</p>
                    <a class="edit_button" href="/profile/updateUser/{{ user.id }}">Modifier profil</a>
                </div>

                <div class="posts_info">
                    <p>{{ user.surname }} {{ user.name }}</p>
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div id="user_posts_container">
            <div class="posts_gallery">
                <div class="gallery_item">
                    {% for post in posts %}
                        <div class="box_img">
                            <a href=""><img src="{{ asset('/uploads/' ~ post.postsPicture ) | imagine_filter('minProfilePicture') }}" alt="image de la gallerie"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
